 #osnova {
    height: 600px;
    width: 300px;
    background-color: #c0c0c0;
    border-radius: 20px;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#osnova>#screen {
    height: 100px;
    width: 300px;
    border: 1px solid black;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

#buttons_field {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    height: 500px;
    width: 300px;
    border: 1px solid black;
    box-sizing: border-box;
    
    
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */


 }



#screen>h1 {
    text-align: right;
    font-size: 3rem;

}
.knopki{
    height: 81.2px;
    width: 73px;
    
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    


}